.container {
  padding: 20px;
}

.book-detail > .book-title {
  font-size: 2.5em;
  font-weight: bold;
}

.book-detail > .book-pages {
  font-size: 0.9em;
  color: lightgray;
}

.book-detail > .book-deescription {
  font-size: 1.1em;
  color: darkgray;
}
